@use 'variables' as *;

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: $primary-color;
  background-color: $background-color;
}

h1, h2, h3 {
  margin-bottom: 1rem;
}

a {
  color: $primary-color;
  text-decoration: none;
  &:hover {
    color: $secondary-color;
  }
}